main {
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.number-events {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  font-weight: 500;
}
